@tailwind base;
@tailwind components;
@tailwind utilities;

.home-text-purple::before {
    content: "";
    position: absolute;
    bottom: 0;
    margin-top: 2rem;
    right: 0;
    width: 0%;
    height: 4px;
    background-color: rgb(168,85,247);
    transition: all 500ms;
}

.bg-tiles {
    background: url(https://planetscale.com/_next/static/media/bg-tile-dark.2e41c02e.svg) top -1px center;
}

.spectrum {
    background-image: linear-gradient(135deg,#0b6ec5,#5e49af,#f35815,#fed54a 100%);
}

.home-text-purple:hover::before {
    width: 100%;
    left: 0;
}